<div class="search-bar">

  <%= form_tag rockets_path, method: :get, :class => "form-inline" do %>
  <%= text_field_tag :query, params[:query],class: "form-control", placeholder: "Look for a rocket" %>
  <%= button_tag(type: "submit", class: "btn btn-default") do %>
   <i class="fas fa-space-shuttle"></i>
  <% end %>

  <% end %>

</div>
