// Specific CSS for your home-page
.threecards{
  min-height:250px;
  background-size: cover !important;
  background-position: center;
  color: #404041;
  position: relative;
  // border: 1px solid rgba(100,100,100,0.4);
  box-shadow: 0px 0px 7px #edecec;
  margin-top: 15px;
  margin-bottom: 15px;
}

.front-card{
  position: absolute;
  top: 10px;
  right: 10px;
}

.front-description{
  position: absolute;
  left: 10px;
  top: 45px;
}

.threecards:hover {
  background-color: white;
}

.front-description p {
  font-style: italic;
}


.business-card{
  min-height:100px;
  background-size: cover !important;
  background-color: #FFFFFF;
  //background-position: center;
  color: #404041;
  justify-content: center;
  // border: 1px solid rgba(100,100,100,0.4);
  //box-shadow: 0px 0px 7px #edecec;
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  color: #404041;
  //margin-top: 15px;
}

.container-fluid:hover {
 cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec5.cur), auto !important;
}

.navbar-wagon:hover {
 cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec5.cur), auto !important;
}
