h1 {
  margin: 0px;
}

a {
  text-decoration: none!important;
}

.push-footer {
  min-height: 400px;
}

.container-fluid {
  background-color: #FFFFFF;
  margin: 0px;
  width: 100%;
}

.top-index-rocket {
  min-height: 75px;
  display: flex;
  align-items: center;
}

.indent-correction {
  padding-right: 15px;
}

.left-top-index-rocket {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .left-top-index-rocket {
    font-size: 18px;
  }
  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 615px) {
  .left-top-index-rocket {
    padding: 20px 0px 20px 0px;
    justify-content: center;
  }
  h1 {
    font-size: 1.8rem;
  }
}

.icon-title {
  padding-right: 15px;
}

.fa-user-astronaut {
  color: #F74D37;
}

.title {
  color: #F74D37;
}

.right-top-index-rocket {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .right-top-index-rocket {
    font-size: 14px;
  }
}

@media screen and (max-width: 615px) {
  .right-top-index-rocket {
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
  .right-top-index-rocket {
    padding-bottom: 30px;
    padding-top: 10px;
  }
}
.bottom-index-rocket {
  padding: 10px 0px 10px 10px;
}
