h1 {
  margin: 0px;
}

a {
  text-decoration: none!important;
}

.push-footer {
  min-height: 400px;
}

.container {
  background-color: #FFFFFF;
  margin: 0px;
  width: 100%;
}

.top-index-rocket {
  height: 65px;
  padding: 5px 40px 0px 20px;
}

.left-top-index-rocket {

}

.right-top-index-rocket {
  text-align: right;
}

.card-destination {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 0px 7px #edecec;
  height: 225px;
}

.card-title{
  position: absolute;
  font-size: 20px;
  top: 13px;
  left: 13px;
}

.card-trash {
  position: absolute;
  top: 13px;
  right: 13px;
  font-size: 12px;
}

.fa-trash:hover {
  font-size: 14px;
  color: red;
}

.card-description {
  position: absolute;
  bottom: 21px;
  left: 13px;
}

.card-action {
  position: absolute;
  bottom: 13px;
  right: 13px;
}
