h1 {
  margin: 0px;
}

.main-show-rocket {
  background-color: #FFFFFF;
}

.top-show-rocket {
  height: 65px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px 40px 0px 20px;
  min-width: 1000px;
}

.left-top-show-rocket {
  display: flex;
}

.right-top-show-rocket {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.right-top-index-rocket {
  display: flex;
  justify-content: flex-end;
}

.right-top-action {
  padding: 0px 5px 0px 5px;
}

.right-top-icons {
  color: #DCDEE2;
}


// main content

.container-fluid {
  padding-bottom: 50px;
}

.testing-image {
  min-width: 250px;
  height: 300px;
  border-radius: 10px;
  background-size: cover !important;
  background-position: center;
}

.testing {
  background-color: #FFFFFF;
  min-width: 250px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
}

.block {
 box-shadow: 0px 0px 7px #edecec;
}

.block:hover {
 transition-duration: 1s;
 box-shadow: 0px 0px 8px #9a9a9a;
}

.action-details-show-rocket {
  padding-top: 30px;
  text-align: center;
}

.nav-back {
  display: flex;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.text-show {
  padding: 15px;
}

hr{
  color: #FCB67B
}

.border-bottom {
  border-bottom: 4px solid #F74D37;
}

