<h1>Book your rocket: <%= @rocket.name %> </h1>
<p>Select your date</p>

<%= simple_form_for [@rocket, @booking] do |f| %>
<%= f.input :departure_date, label: "When do you want to leave" %>
<%= f.button :submit %>
<% end %>
