<div class="banner" style="background-image: url('https://images.pexels.com/photos/459475/pexels-photo-459475.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');">
  <div class="banner-content">
    <h1>Spatial Travel</h1>
    <p>At light speed</p>
    <a class="btn btn-danger btn-lg">Ready for launch ?</a>
  </div>
</div>
