<div class="banner" style="background-image: url('https://images.pexels.com/photos/459475/pexels-photo-459475.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');">
  <div class="banner-content">
    <h1>Spacial Travel</h1>
    <p>At light speed</p>
    <%=  link_to "Ready for launch ?", rockets_path, class: "btn btn-danger btn-lg"%>
  </div>
</div>
